<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>このアプリの説明</h1>
    <Center><%= link_to image_tag("checklist-1268087_960_720.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %></Center>
      <br>
    <p>
      <a href="https://www.facebook.com/profile.php?id=100021734432902">作成者:長島裕</a>
      <br>
      
      ３日坊主の人間がシンプルにタスク管理ができるように、シンプルな機能のみを実装したTODO管理アプリ
    </p>
  </body>
</html>