<footer class="footer">
  <small>
   create
    by <a href="https://www.facebook.com/profile.php?id=100021734432902">yutaka nagashima</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "このアプリについて",   '/about' %></li>
      
    </ul>
  </nav>
</footer>